/.idea
/.vagrant
/.vscode
/config/swagger.php
/node_modules
/public/.htaccess
/public/hot
/public/robots.txt
/public/storage
/public/web.config
/storage/*.key
/storage/app/import
/storage/import
/storage/regFile.php
/vendor
.DS_Store
.actl.cfg
.cache
.composer.json
.config
.env
.env.backup
.env.production
.env.testing
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
_ide_helper.php
app/.DS_Store
last_import.json
machinet.conf
npm-debug.log
package-lock.json
phpunit.xml
yarn-error.log
